<h5>Registered Users</h5>
<hr>
<table class="table table-hover table-responsive">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email Address</th>
      <th>Member since</th>
      <th>Logged in</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to edit_user_path(user) do %>
            <%= avatar(user, 'icon')%> 
            <%= user.firstname.titleize %>
            <%= user.lastname.titleize %>
          <% end %>
        </td>
        <td><%= link_to user.email, edit_user_path(user) %></td>
        <td><a><%= user.created_at.strftime('%b %d, %Y') %></a></td>
        <td><a><%= user.sign_in_count %> <%= user.sign_in_count == 1 ? 'time' : 'times'%></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New User', new_user_path %>
