<br/><!-- <h5>Add/Edit Organization</h5> --><br/>
<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <div class="pull-left fifty">
      <%= f.input :name, placeholder: 'Organization Name', label: false %>
       </div>
    <div class="pull-right fifty">
      <%= f.input :category, collection: @categories, prompt: 'Organization type:', label: false %>
    </div>
    <div class="clearfix"></div>
    <%= f.input :about, placeholder: 'About Organization', label: false %>
    <div class="pull-left fifty">
      <%= f.input :phone, placeholder: 'Organization Phone', label: false %>
    </div>
    <div class="pull-right fifty">
      <%= f.input :email, placeholder: 'Organization Email', label: false %>
    </div>
    <div class="clearfix"></div>
    <%= f.input :address, placeholder: 'Organization Address', label: false %>
  </div>
  <div class="image">
    <%= render 'image', f: f, org: @organization %>
  </div>
  <div class="clearfix"></div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-wide btn-lg btn-primary' %>
    <!-- <h5><%#= link_to 'Cancel', organizations_path %></h5> -->
  </div>
<% end %>
