<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :image %>
    <%= f.input :name %>
    <%= f.input :category, collection: @categories, prompt: 'Organization type:' %>
    <%#= f.select(:category, categories, {prompt: 'Select type'}) %>
    <%= f.input :about %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
